*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.header{
    width: 1497px;
    height: 64px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .logo i{
    font-size: 33px;
    padding-left: 35px;
}

.header .mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .mid .home{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .mid .home i{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 474px;
    height: 48px;
    border-radius: 25px;
    padding:0px 10px;
    gap: 0 10px;
    background-color: #1f1f1f;
}

.header .search-container input{
    width: 100%;
    border: none;
    outline: none;
    border-right: 1px solid #616060;
    font-size: 15px;
    background: none;
    caret-color: white; 
    color: white;   
}

.header .search-container .search-bar,
 .header .search-container .cart{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header .search-container .search-bar i,
.header .search-container .cart i{
    font-size: 22px;
}

.header .btn{
    display: flex;
    gap: 8px;
    padding-right: 10px;
}

.header .btn button{
    padding: 13px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.header .btn button:hover{
    transition: 3sec;
}
/* ==============library css */
.library{
    width: 350px;
    height: 549px;
    background-color: #121212;
    margin-left: 4px;
    border-radius: 4px;
}

.library-header .logo{
    width: 100%;
    height: 60px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.logo>img,h1{
    gap: 5px;
}

.library .library-header h1,i{
    font-size: 20px;
    color: #b3b3b3;
}

.library .icon>i:hover{
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.library-content{
    width: 350px;
    height: 323px;
    display: grid;
    justify-content: space-evenly;
}

.library-content .card-1{
    width: 330px;
    height: 134px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-content: space-between;
}

.card-1>h5{
    font-size: 18px;
    color: white;
}
.card-1>p{
    font-size: 16px;
    color: white;
}
.card-1>button{
    width: 70%;
    height: 95%;
    border-radius: 25px;
}

.library-content .card-2{
    width: 330px;
    height: 134px;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    justify-content: space-between;
}
.card-2>h3{
    font-size: 18px;
    color: white;
}
.card-2>p{
    font-size: 16px;
    color: white;
}
.card-2>button{
    width: 60%;
    height: 100%;
    border-radius: 25px;
}

.table{
    width: 350px;
    height: 162px;
    bottom: 0px;
    left: 0px;
    background-color: lawngreen;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    font-size: 12px;
   
}

.table>ul{
    list-style: none;
    gap: 20px;
    display: grid;
    flex-direction: column;
}











/* .right-container{
    width: 1151px;
    height: 549px;
    background-color: rgb(56, 15, 234);
    border-radius: 10px;
    display: grid;
    flex-direction: column;
}

.right-header{
    width: 1108px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.right-header h1{
    font-size: 30px;
    color: #fff;
}

.right-header h1:hover{
    cursor: pointer;
    text-decoration: underline;
}

.right-header a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.right-header a:hover{
    cursor: pointer;
    text-decoration: underline;
} */