*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.header{
    width: 1497px;
    height: 64px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .logo i{
    font-size: 33px;
    padding-left: 35px;
}

.header .mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .mid .home{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .mid .home i{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 474px;
    height: 48px;
    border-radius: 25px;
    padding:0px 10px;
    gap: 0 10px;
    background-color: #1f1f1f;
}

.header .search-container input{
    width: 100%;
    border: none;
    outline: none;
    border-right: 1px solid #616060;
    font-size: 15px;
    background: none;
    caret-color: white; 
    color: white;   
}

.header .search-container .search-bar,
 .header .search-container .cart{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header .search-container .search-bar i,
.header .search-container .cart i{
    font-size: 22px;
}

.header .btn{
    display: flex;
    gap: 8px;
    padding-right: 10px;
}

.header .btn button{
    padding: 13px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.header .btn button:hover{
    transition: 3sec;
}
/* =====library css======== */
.library{
    width: 420px;
    height: 549px;
    background-color: #121212;
    margin-left: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.library-header .logo{
    width: 100%;
    height: 60px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.logo>img,h1{
    gap: 5px;
}

.library .library-header h1,i{
    font-size: 20px;
    color: #b3b3b3;
}

.library .icon>i:hover{
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.library-content{
    width: 412px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    gap: 10px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 6px;
}

.library-content .card-1{
    width: 404px;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    justify-content: space-between;
}

.card-1>h5{
    font-size: 18px;
    color: white;
}
.card-1>p{
    font-size: 16px;
    color: white;
}
.card-1>button{
    width: 70%;
    height: 95%;
    border-radius: 25px;
}

.library-content .card-2{
    width: 404px;
    height: 150px;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    justify-content: space-between;
}
.card-2>h3{
    font-size: 18px;
    color: white;
}
.card-2>p{
    font-size: 16px;
    color: white;
}
.card-2>button{
    width: 60%;
    height: 100%;
    border-radius: 25px;
}

.container{
    width: 420px;
    height: 208px;
    background-color: #121212;
    color: white;
    font-size: 12px;
    background-color: blueviolet;
    justify-items: flex-end;
    /* position: fixed; */
    /* justify-content: space-around; */
}

.container .left-content{
    height: 80px;
    width: 420px;
    display: flex;
    flex-direction:column;
    margin-top: 25px;
    margin-left: 16px;
}


.list{
    width: 90%;
    /* margin-top: 5px; */
    height: 200px;
    display: flex;
    background-color: #616060;
    gap: 10px;
}
.list>div{
    font-size: 15px;
}

/* .list>span{
    margin: 7px;
    margin-top: 10px;
    font-size: 14px;
}
span:last-of-type{
    margin-top: 10px;
}

.list>span:hover{
    cursor: pointer;
} */

.data{
    width: 390px;
    height: 80px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.data>a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding-top: 30px;
}

.link>a:hover{
    text-decoration: underline;
}

.language{
    width: 95px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    background-color: black;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid white;

}

.language>button{
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 650;
}

.language .icon{
    margin-top: 7px;
    margin-left: 10px;

}

/* ===========Right Container========= */

.right-container{
    width: 1072px;
    height: auto;
    background-color: lawngreen;
    border-radius: 10px;
}